{% extends "layout.html" %}
 
{% block content %}

{% for message in form.question.errors %}
<div class="bg-danger">{{ message }}</div>
{% endfor %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <td>Class Name</td>
            <td>Scheduled Recordings</td>
            <td>Roster</td>
            <td>Lesson Plans</td>
            <td>Student Work</td>
            <td></td>
            <td></td>
          </tr>
          {% for investigation in investigations %}
            <tr>
                <td>{{ investigation.question }}</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>placeholder</td>
                <td>
                    <a href="{{ url_for('recordings', investigation_id=investigation.id) }}">Schedule</a>
                </td>
                <td>
                    <a href="{{ url_for('investigation', action='delete', investigation_id=investigation.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
  <form enctype='application/json' action="/investigation" method=post>
    {{ form.hidden_tag() }}
     <div class="form-group">
    {{ form.question.label }}
    <div class=".col-xs-6 .col-md-4">
    {{ form.question(cols="35", rows="5", maxlength=140) }}
    </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

  </form>
</div>
</div>
     
{% endblock %}