{% extends "layout.html" %}
 
{% block content %}

{% block javascript %}


  <!-- Media Sources plugin -->
  <script src="/static/lib/videojs-contrib-media-sources-0.3.1/src/videojs-media-sources.js"></script>

  <!-- HLS plugin -->
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/videojs-hls.js"></script>

  <!-- segment handling -->
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/xhr.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/flv-tag.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/stream.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/exp-golomb.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/h264-stream.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/aac-stream.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/metadata-stream.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/segment-parser.js"></script>

  <!-- m3u8 handling -->
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/m3u8/m3u8-parser.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/playlist-loader.js"></script>

  <script src="/static/lib/pkcs7/dist/pkcs7.unpad.js"></script>
  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/decrypter.js"></script>

  <script src="/static/lib/videojs-contrib-hls-0.12.0/src/bin-utils.js"></script>
{% endblock %}

  <video id="live"
         class="video-js vjs-default-skin embed-responsive-item"
         height="250"
         width="300"
         controls
         preload>
    <source
       src="http://aha.local/hls/index.m3u8"
       type="application/x-mpegURL" />
  </video>
  
  <script>
    window.onload = function () {
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        videojs.options.flash.swf = '/static/lib/video-js/video-js.swf';
            // initialize the player
        var player = videojs("live");
      }
      

    }
  </script>

{% endblock %}
