{% extends "layout.html" %}
 
{% block content %}

{% block javascript %}
<script type="text/javascript">
// 	$.ajax({
// 		url: 'camera/',
// 		type: 'GET',
// 		async: false,
// 		data: {"state": "service"},
// 		success: function(data){
// 			console.log(data);
// 		},
// 		error: function(data){
// 			console.log(data);
// 		}
// 	});
$( window ).on("beforeunload", function() {
	$.ajax({
		url: 'camera/',
		type: 'GET',
		data: {"state": "off"},
		success: function(data){
			console.log(data);
		},
		error: function(error){
			console.log(error);
		}
	});
	return "Please make sure that you turn the turn off recording.";

	 jwplayer("container").setup({
        file: 'rtmp://aha.local/webcam/flv:mystream',
        // androidhls: true,
        // file: 'http://aha.local/hls/index.m3u8',
        primary: 'flash'
    });
});

</script>

{% endblock %}

<iframe src="/hls/index.m3u8" width="400" height="300" style="border:none"></iframe>
<!-- <div id="container">Loading the player...</div> -->

<script type="text/javascript">
    
    // jwplayer("container").setup({
    //     // file: 'rtmp://aha.local/webcam/flv:mystream',
    //     androidhls: true,
    //     file: 'http://aha.local/hls/index.m3u8',
    //     primary: 'flash'
    // });

// $( window ).on("beforeunload", function() {
// 	$.ajax({
// 		url: 'camera/',
// 		type: 'GET',
// 		data: {"state": "off"},
// 		success: function(data){
// 			console.log(data);
// 		},
// 		error: function(error){
// 			console.log(error);
// 		}
// 	});
// 	return "Please make sure that you turn the turn off recording.";
// });

</script>

{% endblock %}