{% extends "layout.html" %}
 
{% block content %}
  
  <h3> {{ investigation.question }} </h3>
 
  {% for message in form.days.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.start_time.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.end_time.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>Active Recordings</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <td>Day</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td><td>
          </tr>
          {% if active_recordings %}
          {% for recording in active_recordings %}
            <tr>
              <td>{{ recording.day|dayformat }}</td>
              <td>{{ recording.start_time|datetimeformat }}</td>
              <td>{{ recording.end_time|datetimeformat }}</td>
              <td><a href="{{ url_for('recordings', state='deactivate', investigation_id=investigation.id, recording_id=recording.id) }}">
                Deactivate</a>
              </td>
              <td>
                <a href="{{ url_for('recording', investigation_id=investigation.id, recording_id=recording.id) }}">
                  Edit</a>
                </td>
            </tr>
          {% endfor %}
          {% else %}
              <tr>
                <td>There are no active recordings.</td>
              </tr>
          {% endif %} 
        </table>
      </div>
      <hr>
      <h4>Inactive Recordings</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <td>Day</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td><td>
          </tr>
          {% if inactive_recordings %}
          {% for recording in inactive_recordings %}
            <tr>
              <td>{{ recording.day|dayformat }}</td>
              <td>{{ recording.start_time|datetimeformat }}</td>
              <td>{{ recording.end_time|datetimeformat }}</td>
              <td><a href="{{ url_for('recordings', state='activate', investigation_id=investigation.id, recording_id=recording.id) }}">
                Activate</a>
              </td>
              <td>
                <a href="{{ url_for('recording', investigation_id=investigation.id, recording_id=recording.id) }}">
                  Edit</a>
                </td>
            </tr>
          {% endfor %}
          {% else %}
              <tr>
                <td>There are no inactive recordings.</td>
              </tr>
          {% endif %} 
        </table>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <h4>Schedule a New Recording</h4>
      <form action="{{ url_for('recordings', investigation_id=investigation.id ) }}" method=post>
        {{ form.hidden_tag() }}

        {{ form.days.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.days }}
      </div>
      <div class="form-group">
        {{ form.start_time.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.start_time }}
      </div>
    	</div>
     	<div class="form-group">
        {{ form.end_time.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.end_time }}
      </div>
    	</div>
        {{ form.submit(class="btn btn-success") }}
      </form>
    </div>
  </div>
     
{% endblock %}