{% extends "layout.html" %}
 
{% block content %}
  

  <h3>Recording Schedule</h3>
 
  {% for message in form.section.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.days.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.start_time.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.end_time.errors %}
    <div class="bg-danger">{{ message }}</div>
  {% endfor %}
   <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="table-responsive">
        <table class="table table-hover">
          {% for job in jobs %}
            <tr>
              <td>{{job.section.name}}</td>
              <td>{{job.day}}</td>
              <td>{{job.start_time}}</td>
              <td>{{job.end_time}}</td>
              <td><a href="{{ url_for('edit_recording', name=job.section.name) }}">Edit</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <h4>Schedule a New Recording</h4>
      <form action="{{ url_for('add_recording') }}" method=post>
        {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.section.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.section }}
      </div>
    	</div>
        {{ form.days.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.days }}
      </div>
      <div class="form-group">
        {{ form.start_time.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.start_time(placeholder="e.g. 9:00") }} {{ form.start_ampm }}
      </div>
    	</div>
     	<div class="form-group">
        {{ form.end_time.label }}
        <div class=".col-xs-6 .col-md-4">
        {{ form.end_time(placeholder="e.g. 9:45") }} {{ form.end_ampm }}
      </div>
    	</div>
        {{ form.submit(class="btn btn-success") }}
      </form>
    </div>
  </div>
     
{% endblock %}