{% extends "layout.html" %}
 
{% block content %}
  <h2>Sign up</h2>
 
  {% for message in form.firstname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.lastname.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <form enctype='application/json' action="/signup" method=post>
    {{ form.hidden_tag() }}
     <div class="form-group">
    {{ form.firstname.label }}
    <div class=".col-xs-6 .col-md-4">
    {{ form.firstname }}
    </div>
    </div>
     <div class="form-group">
    {{ form.lastname.label }}
    <div class=".col-xs-6 .col-md-4">
    {{ form.lastname }}
  </div>
    </div>
     <div class="form-group">
    {{ form.email.label }}
    <div class=".col-xs-6 .col-md-4">
    {{ form.email }}
  </div>
    </div>
     <div class="form-group">
    {{ form.password.label }}
    <div class=".col-xs-6 .col-md-4">
    {{ form.password }}
  </div>
     </div>
    {{ form.submit }}

  </form>
     
{% endblock %}