{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script>
    $(document).ready(function() {
        var start_type = {{ obj_type|safe }};
        var start_filter = {{ obj_id|safe }};
        filter_types[start_type](start_filter)
    });
</script>
{% endblock %}

{% block content %}

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="filter btn btn-default" id='investigation'>Investigations</button>
  <button type="button" class="filter btn btn-default" id='conjecture'>Conjectures</button>
  <button type="button" class="filter btn btn-default" id='marker'>Markers</button>
</div>

<div class="container-fluid" id="videos"></div>

<script>
    var req;
    function display_investigations(filter){
      retrieve_data("investigation", filter, function(){
        if (req.readyState==4 && req.status==200){
          data = JSON.parse(req.responseText);
          for(i in data.objects){
            obj = data.objects[i];
            div_id = JSON.stringify(obj.id);
            create_thumbnail_div(div_id, obj.question);
          }
        }
      });
    }

    function display_conjectures(filter){
      retrieve_data("conjecture", filter, function(){
        if (req.readyState==4 && req.status==200){
          data = JSON.parse(req.responseText);
        }
      });
    }

    function display_markers(filter){
      //filters are powerful for ordering, filtering, grouping content
      retrieve_data("marker", filter, function(){
        if (req.readyState==4 && req.status==200){
          data = JSON.parse(req.responseText);
          for(i in data.objects){
            obj = data.objects[i];
            div_id = JSON.stringify(obj.id);
            pretty_time = moment(obj.timestamp).format("MM/DD hh:MM a")
            create_thumbnail_div(div_id, pretty_time);
          }
        }
      });
    }

    var filter_types = {
      "investigation": display_investigations,
      "conjecture": display_conjectures,
      "marker": display_markers
    };

    $(".filter").on("click", function(e){
        $( "#videos").empty();
        var id_name = $(this).attr('id');
        filter_types[id_name]()
    });
    
    function retrieve_data(endpoint, filter, success_func){
        endpoint = typeof endpoint !== 'undefined' ? endpoint : 'investigation';
        filter = typeof filter !== 'undefined' ? filter : '';
        //not sending filter yet
        url = "/api/" + endpoint;
        req = new XMLHttpRequest();
        req.open("GET", url);
        req.setRequestHeader("Content-type", "application/json");
        req.onreadystatechange = success_func;
        req.send();
    }


    function display(data){
        var display_objects = [];
        //build the display objects in the for loop
        //we can sort on the data objects attributes - date, day, time?
        for (obj_index in data.objects){
           obj = data.objects[obj_index]
           
           if ( obj.hasOwnProperty('question') ) {
                console.log(obj.id);
                div_id = "investigation"+JSON.stringify(obj.id);
                create_thumbnail_div(div_id);
                for (recording in obj.schedule){
                   console.log(obj.schedule[recording]);
                   // for (var i = 0; i < obj.schedule[recording].videos.length; i++) {
                   //     var stub_url = "/video/stub/"+recording.videos[i].id;
                   //     $("#videos").load(stub_url, function(){
                   //         alert("load was performed.");
                   //     });
                   // }
                }
           }

           if ( obj.hasOwnProperty('conjecture') ) {
                console.log(obj.conjecture);
                //
           }
           if ( obj.hasOwnProperty('timestamp') ) {
                for (video in obj.videos){

                }
           }
        }
    }

    function create_thumbnail_div(div_id, heading){
        $("#videos").append("<div class=row></div>")
        $("#videos").append('<div class="col-sm-6 col-md-4" id="'+div_id+'"></div>');
        $("#"+div_id).append("<h4>"+heading+"</h4>");
    }

</script>

{% endblock %}
