{% extends "layout.html" %}

{% block content %}

<div class="btn-group" role="group" aria-label="...">
  <button type="button" id="investigations"class="btn btn-default" onClick="show('investigations')">Investigations</button>
  <button type="button" id="conjectures" class="btn btn-default" onClick="show('conjectures')">Conjectures</button>
  <button type="button" id="markers" class="btn btn-default" onClick="show('markers')">Markers</button>
</div>

<div id="investigations"></div>

<div id="conjectures"></div>

<div id="markers"></div> 


{% block javascript %}
<script>
    function show(vidtype){
        if(vidtype === "invesitgations"){
            document.getElementByID("invesitgations").style.display = 'block';
            document.getElementByID("conjectures").style.display = 'none';
            document.getElementByID("markers").style.display = 'none';

        } else if (vidtype === "conjectures"){
            document.getElementByID("conjectures").style.display = 'block';
            document.getElementByID("invesitgations").style.display = 'none';
            document.getElementByID("markers").style.display = 'none';
        } else if (vidtype === "markers"){
            document.getElementByID("markers").style.display = 'block';
            document.getElementByID("invesitgations").style.display = 'none';
            document.getElementByID("conjectures").style.display = 'none';
        }
    }
</script>
{% endblock %}


{% endblock %}