{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script>
    $(document).ready(function() {
        retrieve_data();
    });
</script>
{% endblock %}

{% block content %}

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id='investigation'>Investigations</button>
  <button type="button" class="btn btn-default" id='conjecture'>Conjectures</button>
  <button type="button" class="btn btn-default" id='marker'>Markers</button>
</div>

<div id="videos"></div>


<script>
    $("button").on("click", function(e){
        var id_name = $(this).attr('id');
        retrieve_data(id_name);
    });
    
    function retrieve_data(endpoint){
        endpoint = typeof endpoint !== 'undefined' ? endpoint : 'investigation';
        url = "/api/" + endpoint;
        var req = new XMLHttpRequest();
        req.open("GET", url);
        req.setRequestHeader("Content-type", "application/json");
        req.onreadystatechange = function() {
            // if you got a good request:
            if(req.readyState == 4 && req.status == 200) {
                // the response is a JSON object. Parse it:
                responseJson = JSON.parse(req.responseText);
                get_video_html(responseJson);

                // $('#videos').text(JSON.stringify(responseJson));
            }
        }
        req.send();
    }

    function get_video_html(data){
        for (obj in data){
            console.log(data[obj]);
        }
    }

</script>

{% endblock %}